<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>hello world</h1> 
   <!-- <form  method="get">
   <a formaction="/all">all</a>
   <a formaction="/random">random tool </a>
   <a formaction="/search">specific</a>
</form> -->
<form >
    <input id="get" type="submit" value="GET random" formaction="/random">
    <input id="get" type="submit" value="GET all" formaction="/all">
    <input id="get" type="submit" value="GEt specific" formaction="/search?type=Puns">
</form>
</body>
</html>